<div class="content-start" *ngIf="!busy">
  <p-toast></p-toast>
  <div class="jumbotron">
    <h1>EBS-Modell {{ebsProjectService.activeProject.project_id}}</h1>
  </div>
  <div class="container-fluid">
    <div class="ui-g">
      <div class="ui-g-10 ui-g-offset-1">
        <div class="tile">
          <h2>Betrag</h2>
          <div class="ui-g">
            <div class="ui-g-8">
              <p>Bitte den Nettopreis eingeben, der zur Auswahl zur Verfügung steht.</p>
            </div>
            <div class="ui-g-4">
              <span class="ui-float-label">
                <input id="username-input" type="number" size="30" pInputText
                       [(ngModel)]="ebsProjectService.activeProject.limit"
                       [ngModelOptions]="{standalone: true}" autofocus class="form-control">
             </span>
            </div>
          </div>

          <h2>Methode</h2>
          <div class="ui-g">
            <div class="ui-g-8">
              <p>Bitte die Methode wählen, die zur Analyse verwendet werden soll.</p>
            </div>
            <div class="ui-g-4">
              <label for="mode">Methode</label>
              <p-dropdown id="mode" [options]="modeOptions" [(ngModel)]="ebsProjectService.activeProject.mode"
                          placeholder="Bitte eine Methode auswählen"></p-dropdown>
            </div>
          </div>

          <h2>Nutzungsdaten</h2>
          <div class="ui-g">
            <div class="ui-g-8">
              <p>Bitte eine Excel-Datei mit den Nutzungsdaten hochladen. Diese Datei muss ein Tabellenblatt "Auswertung"
                enthalten, dass mnindestens folgende Spalten enthält: "ISBN", "Preis", "Nutzung". Weitere Spalten können
                mitgegeben werden, diese erscheinen dann in der erstellten Auswahl.
              </p>
              <p>
                Sollen einzelne Titel fest ausgewählt werden, können diese auf einem Tabellenblatt "Fix" aufgführt werden.
                Die Spalte muss den Titel "ISBN" tragen.
              </p>
            </div>
            <div class="ui-g-4">
              <p *ngIf="ebsProjectService.activeProject.filename">
                aktuelle Datei: {{ebsProjectService.activeProject.filename}}
              </p>
              <p-fileUpload [disabled]="importing" [auto]="true" mode="basic" name="excel-file" url="{{uploadUrl}}"
                            accept=".xlsx"
                            chooseLabel="Upload" (onBeforeUpload)="importing=true;"
                            (onUpload)="uploadFile($event); "></p-fileUpload>
            </div>
          </div>

          <h2>Analyse</h2>
          <p> Durch einen Klick auf den Button "Analyse starten" werden die zur Verfügung gestellten Daten analysiert
            und ein Tabellenblatt "Auswahl" erstellt.
            Eventuell bestehnde Blätter mit diesem Namen werden gelöscht.</p>
          <div class="ui-g">
            <div class="ui-g-3">
              <button pButton type="button" class="btn btn-success" (click)="runAnalysis()" label="Analyse starten"></button>
            </div>
            <div class="ui-g-3">
              <button pButton type="button" class="btn btn-success" (click)="downloadFile()" label="Datei herunterladen"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
