<div class="jumbotron">
  <div class="container">
    <h1>e-Medien</h1> <br />
    <p> Nutzung, Lizenzen, Pakete und Metriken</p>
  </div>
</div>
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/counter" style="cursor: pointer;" class="tile">
        <h2>Nutzungsdaten</h2>
        <p>Management von SUSHI-Accounts, Abruf von Nutzungsdaten, Upload und Import von Nutzungsdaten.</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/ebs" style="cursor: pointer;" class="tile">
        <h2>EBS Modelle</h2>
        <p> Auswertung von EBS Modellen</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/reports" style="cursor: pointer;" class="tile">
        <h2>E-Nutzungs-Reports</h2>
        <p> Nutzungsstatistiken für Herausgeber und Plattformen</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/shibboleth" style="cursor: pointer;" class="tile">
        <h2>Shibboleth-Konfiguration</h2>
        <p>Shibboleth-Profile für WAYFless URLS managen.</p>
      </div>
    </div>
    <!--
   <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/profiles" style="cursor: pointer;" class="tile">
        <h2>Verteilung berechnen</h2>
        <p> Berechnet die Verteilung von Nutzungen auf die Fächer.</p>
      </div>
    </div>
    -->
  </div>
</div>
