<p-growl [value]="msgs"></p-growl>

<div class="jumbotron">
  <div class="container">
    <h1>e-Medien</h1> <br />
    <p> Nutzung, Lizenzen, Pakete und Metriken</p>
  </div>
</div>
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/counter" style="cursor: pointer;" class="tile">
        <h2>Nutzungsstatistiken</h2>
        <p>Management von SUSHI-Accounts, Upload von Nutzungsdaten.</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/jkb" style="cursor: pointer;" class="tile">
        <h2>Journal Knowledgebase</h2>
        <p> Zeitschriften, Titel und Pakete.</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/profiles" style="cursor: pointer;" class="tile">
        <h2>SNIP hinzufügen</h2>
        <p> Fügt den Source Normalized Impact per Paper (SNIP) hinzu.</p>
      </div>
    </div>
   <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/profiles" style="cursor: pointer;" class="tile">
        <h2>Verteilung berechnen</h2>
        <p> Berechnet die Verteilung von Nutzungen auf die Fächer.</p>
      </div>
    </div>
  </div>
</div>
