<div class="jumbotron">
    <div class="container">
        <h1>Verfügbare Pakete</h1>
        <p>In der EZB verzeichnete Pakete</p>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table *ngIf="journalCollections" id="sortableTable" class="table table-striped">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Beschreibung
                </th>
                <th>
                    Preis
                </th>
                <th>
                    Aktionen
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let journalCollection of journalCollections" >
                <th>
                    {{journalCollection.anchor}}
                </th>
                <th>
                    {{journalCollection.description}}
                </th>
                <th>
                    {{journalCollection.price}}
                </th>
                <th>
				<span class="links">
					<a class="btn btn-sm btn-success" [routerLink]="['journalUsage',journalCollection.anchor]"
                       href="{$WebApplicationBaseURL}fachref/journals/journalUsage?issn={$anchor}"
                       role="button" target="popup">Zur Nutzung</a>
				</span>
                    <span class="links">
					<button class="btn btn-sm btn-primary"
                            [routerLink]="['journalTitleManagement',journalCollection.anchor]">Zum Paketinhalt</button>
				</span>
                    <span class="links">
					<button class="btn btn-sm btn-alert" onclick="deleteCollection(journalCollection)">Löschen</button>
				</span>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row">
  <div  class="col-md-12 main">
    <h2>EZB-Datei-Upload</h2>
    <p-fileUpload name="file" url="http://localhost:11855/files?module=ezbUpload" (onUpload)="onUpload($event)"
                  accept="text/*" maxFileSize="100000000">
    </p-fileUpload>
    <table *ngIf="files" class="table table-hover">
      <tbody>
      <tr *ngFor="let file of files">
        <td>
          {{file.filename}}
        </td>
        <td>
          <a [href]="file.link" >Ansehen</a>
        </td>
        <td>
          <button class="btn btn-danger" (click)="runEzbAnalyzer(file)" >Einträge erzeugen</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
