<p-toast></p-toast>

<div class="container">
  <div class="jumbotron">
    <h1>Management von Buchbinderaufträgen</h1>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-6">
      <div class="tile">
        <h3 style="height: 1.2em;">{{ "bubi.outbox" | translate}}</h3>
        <p style="height: 3em;">{{ "bubi.outbox.short" | translate}}</p>
        <div style="padding:10px;">
          <button style="width: 100%" [routerLink]="['/bubi/orderline']" [queryParams]="{mode: 'form'}"
                  class="btn btn-primary">{{"bubi.order.line.new" | translate}}</button>
        </div>
        <div style="padding:10px;">
          <button style="width: 100%" [routerLink]="['/bubi/orderlines']" [queryParams]="{mode: 'active'}" type="button"
                  class="btn btn-primary"> {{ "bubi.order.line.overview" | translate}}</button>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
      <div class="tile">
        <h3 style="height: 1.2em;">{{ "bubi.inbox" | translate}}</h3>
        <p style="height: 3em;">{{ "bubi.inbox.short" | translate}}</p>
        <div style="padding:10px;">
          <button style="width: 100%" [routerLink]="['/bubi/order']" type="button" class="btn btn-primary">{{ "bubi.inbox" | translate}}</button>
        </div>
      </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6">
      <div [routerLink]="['/bubi/coredata']" class="tile clickable">
        <h3 style="height: 1.2em;">{{ "bubi.coredata" | translate}}</h3>
        <p style="height: 3em;">{{ "bubi.coredata.short" | translate}}</p>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
      <div [routerLink]="['/bubi/data']" class="tile clickable">
        <h3 style="height: 1.2em;">{{ "bubi.data" | translate}}</h3>
        <p style="height: 3em;">{{ "bubi.data.edit.short" | translate}}</p>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="tile centered">
          <button [routerLink]="['/start']" class="btn btn-primary">Zurück</button>
      </div>
    </div>
  </div>
</div>
