<div class="jumbotron">
  <h1>{{"bubi.data.overview" | translate}}</h1>
  <p>{{"bubi.data.overview.short" | translate}}</p>
</div>

<div class="container-fluid">
  <p-dialog *ngIf="bubiService.activeBubidata" header="Stammdaten bearbeiten" [(visible)]="showEditor" [responsive]="true"
            [style]="{width: '75vw', height: '90vh'}" [modal]="true">
    <h4>{{"bubi.data.edit" | translate}}</h4>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="collection">{{"bubi.vendor.id" | translate}}</label>
        <input id="collection" type="text" pInputText [(ngModel)]="bubiService.activeBubidata.vendorId"/>
      </div>
      <div class="p-field p-col">
        <label for="shelfmark">{{"bubi.vendor.account" | translate}}</label>
        <input id="shelfmark" type="text" pInputText [(ngModel)]="bubiService.activeBubidata.vendorAccount"/>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="almaMmsId">{{"bubi.name" | translate}}</label>
        <input pInputText id="almaMmsId" type="text" [(ngModel)]="bubiService.activeBubidata.name">
      </div>
      <div class="p-field p-col">
        <label for="almaHoldingId">{{"bubi.name.short" | translate}}</label>
        <input pInputText id="almaHoldingId" type="text" [(ngModel)]="bubiService.activeBubidata.shortName">
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="standardPriceMonograph">{{"bubi.standard.price.monograph" | translate}}</label>
        <p-inputNumber id="standardPriceMonograph" [showButtons]="true" [(ngModel)]="bubiService.activeBubidata.standardPriceMonograph"></p-inputNumber>
      </div>
      <div class="p-field p-col">
        <label for="standardPriceJournal">{{"bubi.standard.price.journal" | translate}}</label>
        <p-inputNumber id="standardPriceJournal" [showButtons]="true" [(ngModel)]="bubiService.activeBubidata.standardPriceJournal"></p-inputNumber>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="campus">{{"campus" | translate}}</label>
        <p-dropdown id="campus" [options]="campus" [(ngModel)]="bubiService.activeBubidata.campus" optionLabel="name" optionValue="code"></p-dropdown>
      </div>
    </div>

    <p-footer>
      <button pButton type="button" icon="fa-save" label="speichern"
              (click)="saveBubidata(bubiService.activeBubidata)"></button>
    </p-footer>
  </p-dialog>

  <div class="p-grid">
    <div class="p-col-12">
      <div class="tile">

        <p-table #datatable [value]="bubidataList" [paginator]="false"
                 currentPageReportTemplate="Zeige {first} bis {last} von allen {totalRecords} Stammdaten"
                 [globalFilterFields]="['shelfmark','collection','vendorId','status']">
          <ng-template pTemplate="caption">
            <div class="p-grid">
            <div class="p-col">
              <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-plus"></i>
                    <button pButton type="button" icon="fa-save" label="Neuen Buchbinder anlegen"
                            (click)="newBubiData()"></button>
                </span>
            </div>
            <div class="p-col">
                <span class="p-input-icon-left p-mr-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="datatable.filterGlobal($event.target.value, 'contains')"
                           placeholder="Search keyword"/>
                </span>
            </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{"is.active" | translate}}</th>
              <th>{{"bubi.vendor.id" | translate}}</th>
              <th>{{"bubi.vendor.account" | translate}}</th>
              <th>{{"bubi.name" | translate}}</th>
              <th>{{"bubi.name.short" | translate}}</th>
              <th>{{"bubi.standard.price.monograph" | translate}}</th>
              <th>{{"bubi.standard.price.journal" | translate}}</th>
              <th>{{"campus" | translate}}</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-bubidata>
            <tr>
              <td>
                <p-inputSwitch [(ngModel)]="bubidata.active" (onChange)="saveBubidata(bubidata)"></p-inputSwitch>
              </td>
              <td>{{bubidata.vendorId}}</td>
              <td>{{bubidata.vendorAccount}}</td>
              <td>{{bubidata.name}}</td>
              <td>{{bubidata.nameShort}}</td>
              <td>{{bubidata.standardPriceMonograph}}</td>
              <td>{{bubidata.standardPriceJournal}}</td>
              <td>{{bubidata.campus | translate}}</td>
              <td>
                <button pButton type="button" class="btn btn-warning" (click)="editBubidata(bubidata)"
                        label="Bearbeiten"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 centered">
      <div class="tile centered">
        <button [routerLink]="['/bubi/start']" class="btn btn-primary">Zurück</button>
      </div>
    </div>
  </div>
</div>
