<div class="container">
  <div class="p-grid">
    <div *ngIf="showForm" class="p-col-12 p-md-12 p-lg-12" >
      <div class="tile" style="text-align: left;">
        <h2 style="height:1.2em;">{{"bubi.order.line.new" | translate}}</h2>
        <p>{{"bubi.order.line.new.short" | translate}}</p>
        <h4>{{"bubi.order.line.new.from.collection" | translate}}</h4>
          <div class="p-grid p-fluid">
            <div class="p-col-2">
              <label for="collection">{{"collection" | translate}}</label>: <label for="shelfmark">{{"shelfmark" | translate}}</label>
            </div>
            <div class="p-col-1">
              <input id="collection" [(ngModel)]="collection" pInputText>
            </div>
            <div class="p-col-3">
              <input id="shelfmark" [(ngModel)]="shelfmark" pInputText>
            </div>
            <div class="p-col-4">
              <button pButton type="button" (click)="getFromShelfmark()" [label]="'bubi.order.line.new.build' | translate"></button>
            </div>
          </div>
        <h4>{{"bubi.order.line.new.from.barcode" | translate}}</h4>
          <div class="p-grid p-fluid">
            <div class="p-col-2">
              <label for="barcode">{{"barcode" | translate}}</label>
            </div>
            <div class="p-col-4">
              <input pInputText [(ngModel)]="barcode" id="barcode">
            </div>
            <div class="p-col-4">
              <button pButton type="button" (click)="getFromBarcode()" [label]="'bubi.order.line.new.build' | translate"></button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
      <div class="tile centered">
          <button [routerLink]="['/bubi/start']" pButton type="button" [label]="'back' | translate" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>
