body {
  margin: 0;
  background-image: url("/files/public/custom/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: darkblue;
}

.tile {
  background-color: #dfe4f2;
  float: left;
  opacity: 0.9;
  color: #1a171b;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  padding: 15px;
  vertical-align: middle;
  text-align:center;
  position: relative;

}

.bg-dark {
  background-color: black !important;
  color: #efe4bf;
}


.button-link {
  position: absolute;
  bottom: 0px;
}
.tile-top {
  border-radius: 25px 25px 0px 0px
}

.tile-bottom {
  border-radius: 0px 0px 25px 25px
}

.jumbotron {
  background-color: transparent;
  color: #ffffff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dfe4f2;
  color: white;
  text-align: center;
}
