body {
  margin: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: darkblue;
}

.ui-dropdown-items-wrapper {
  background-color: #dfe4f2;
}

.ui-toast-message {
  opacity: 0.2;
}

.ui-toast-message-warn{ background: rgb(235, 235, 145); }
.ui-toast-message-error{ background: rgb(235, 145, 145); }
.ui-toast-message-success{ background: rgb(156, 235, 145); }
.ui-toast-message-info{ background: rgb(145, 199, 235); }

.tile {
  background-color: #dfe4f2;
  float: left;
  opacity: 0.9;
  color: #1a171b;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  padding: 15px;
  vertical-align: middle;
  text-align: left;
  position: relative;
}

.bg-dark {
  background-color: black !important;
  color: #efe4bf;
}


.button-link {
  position: absolute;
  bottom: 0px;
}
.tile-top {
  border-radius: 25px 25px 0px 0px
}

.tile-bottom {
  border-radius: 0px 0px 25px 25px
}

.jumbotron {
  background-color: transparent;
  color: #ffffff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dfe4f2;
  color: white;
  text-align: center;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #16697A;
  }
  40% {
    stroke: #489FB5;
  }
  66% {
    stroke: #82C0CC;
  }
  80%,
  90% {
    stroke: #FFA62B;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
