<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/start">
    <img src="/img/logo.svg" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand" href="/start"><strong>Lib</strong>  <i>intel</i></a> <a class="navbar-brand" routerLink="/start">:: MedienManagement</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/reports">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/shibboleth">Shibboleth</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/counter">Sushi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ebs">EBS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deletion">Aussonderung</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/check_nrw">HBZ-Prüfung</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/listfilter">TA-Listen filtern</a>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           role="button"
           aria-haspopup="true" aria-expanded="false">
          {{authenticationService.principal.fullname}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/usersettings">Einstellungen</a>
          <a class="dropdown-item" href="/protokoll">Protokoll</a>
          <a class="dropdown-item" href="/logout">
            Logout
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
