<p-growl [value]="msgs"></p-growl>
<div class="jumbotron">
    <div class="container">
        <h1>e-Medien</h1> <br />
        <p> Nutzung, Lizenzen, Pakete und Metriken</p>
    </div>
</div>
<div class="container">
    <table class="table table-hover">
        <tbody>
        <tr>
            <td>
                <h4>Jahre ausdehnen</h4>
            </td>
            <td>
                <p>Erweitert den intialen Upload auf den verfügbaren Zeitbereich.</p>
            </td>
            <td>
                <a class="btn btn-success" href="eMedia/yearExtender" role="button">Starten &#187;</a>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Preise hinzufügen</h4>
            </td>
            <td>
                <p>Fügt die Preise für Pakete und Zeitschriften hinzu.</p>
            </td>
            <td>
                <a class="btn btn-success" href="eMedia/priceExtender" role="button">Starten &#187;</a>
            </td>
        </tr>
        <tr>
            <td>
                <h4>SNIP hinzufügen</h4>
            </td>
            <td>
                <p>Fügt den Source Normalized Impact per Paper (SNIP) hinzu.</p>
            </td>
            <td>
                <a class="btn btn-success" href="eMedia/snipExtender" role="button">Starten &#187;</a>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Sushi-Accounts</h4>
            </td>
            <td>
                <p>Management von SUSHI-Accounts.</p>
            </td>
            <td>
                <button class="btn btn-success" [routerLink]="['sushi']">Starten &#187;</button>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Verteilung berechnen</h4>
            </td>
            <td>
                <p>Berechnet die Verteilung von Nutzungen auf die Fächer.</p>
            </td>
            <td>
                <a class="btn btn-success" href="eMedia/subjectDistributor" role="button">Startem &#187;</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div  class="col-md-12 main">
            <h2>EZB-Datei-Upload</h2>
            <p-fileUpload name="file" url="http://localhost:11855/files?module=ezbUpload" (onUpload)="onUpload($event)"
                          accept="text/*" maxFileSize="100000000">
            </p-fileUpload>
            <table *ngIf="files" class="table table-hover">
                <tbody>
                <tr *ngFor="let file of files">
                    <td>
                        {{file.filename}}
                    </td>
                    <td>
                        <a [href]="file.link" >Ansehen</a>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="runEzbAnalyzer(file)" >Einträge erzeugen</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>