<div class="jumbotron">
  <div class="container">
    <h1>COUNTER Upload</h1>
    <p>Upload Counter statistics.</p>
    <p>
    </p>
  </div>
</div>

<p-dialog header="Daten werden importiert" [modal]="true" [closable]="false" [(visible)]="analyzing">
  <img src="/files/custom/loading.gif" alt="Loading..." style="width:304px;height:228px;">
</p-dialog>

<div class="row">
  <div  class="col-md-12 main">
    <h2>Counter-Upload</h2>
    <p-fileUpload name="file" url="/files/counterbuilder" (onUpload)="onUpload($event)"
                  maxFileSize="100000000">
    </p-fileUpload>
    <table *ngIf="files" class="table table-hover">
      <tbody>
      <tr *ngFor="let file of files">
        <td>
          {{file.filename}}
        </td>
        <td>
          <a [href]="file.link" >Ansehen</a>
        </td>
        <td>
          <button pButton type="button" label="Counter-Daten hinzufügen" icon="fa-plus" (click)="addCounter(file)" ></button>
        </td>
        <td>
          <button pButton type="button" label="Datei löschen" icon="fa-trash" class="ui-button-danger" (click)="deleteFile(file)" ></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
