<div class="jumbotron">
    <div class="container">
        <h1>Publisher - SUSHI-Angaben</h1>
        <p>In diesem Formular werde die wesentlichen Parameter angegeben,
            um über Nutzungsdaten über die SUSHI-Schnittstelle abzurufen</p>
    </div>
</div>
<div *ngIf="sushiprovider" class="container">
    <div class="col-md-12">
    <h2 class="sub-header">Notwendige Angaben</h2>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="name">Name des
                Verlags</label>
            <div class="col-md-6">
                <input id="name" [(ngModel)]="sushiprovider.name" placeholder="Name"
                       class="form-control input-md" required="" type="text"> <span
                    class="help-block">Ein eindeutiger Name des Verlages</span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="sushiURL">SUSHI
                URL</label>
            <div class="col-md-6">
                <input id="sushiURL" [(ngModel)]="sushiprovider.sushiURL" placeholder="test"
                       class="form-control input-md" required="" type="text"> <span
                    class="help-block">Die URL, die vom Verlag für SUSHI
							angegeben wird</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="sushiRequestorID">Requestor
                ID</label>
            <div class="col-md-6">
                <input id="sushiRequestorID" [(ngModel)]="sushiprovider.sushiRequestorID"
                       placeholder="Requestor ID" class="form-control input-md"
                       type="text"> <span class="help-block">Die ID der
							anfragenden Person</span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-4 control-label"
                   for="sushiCustomerReferenceID">Customer ID</label>
            <div class="col-md-6">
                <input id="sushiCustomerReferenceID"
                       [(ngModel)]="sushiprovider.sushiCustomerReferenceID" placeholder="Customer ID"
                       class="form-control input-md" required="" type="text"> <span
                    class="help-block">Die ID der Institution</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="sub-header">Optionale Angaben</h2>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="sushiRequestorName">Requestor
                Name</label>
            <div class="col-md-6">
                <input id="sushiRequestorName" [(ngModel)]="sushiprovider.sushiRequestorName"
                       placeholder="Requestor Name" class="form-control input-md"
                       type="text"> <span class="help-block">Der Name der
							anfragenden Person</span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="sushiRequestorEmail">Requestor
                E-Mail</label>
            <div class="col-md-6">
                <input id="sushiRequestorEmail" [(ngModel)]="sushiprovider.sushiRequestorEmail"
                       placeholder="Requestor E-Mail" class="form-control input-md"
                       type="text"> <span class="help-block">Die E-Mail
							der anfragenden Person</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label"
                   for="sushiCustomerReferenceName">Customer Name</label>
            <div class="col-md-6">
                <input id="sushiCustomerReferenceName"
                       [(ngModel)]="sushiprovider.sushiCustomerReferenceName" placeholder="Customer Name"
                       class="form-control input-md" type="text"> <span
                    class="help-block">Der Name der Institution</span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="sushiRelease">SUSHI
                Release version</label>
            <div class="col-md-6">
                <select id="sushiRelease" [(ngModel)]="sushiprovider.sushiRelease"
                        class="form-control input-md">
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                </select> <span class="help-block">Das SUSHI-Release</span>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Button (Double) -->
<div class="container">
    <button id="submit" (click)="save(sushiprovider)" class="btn btn-success">Speichern</button>
    <button id="cancel" (click)="goBack()" class="btn btn-danger">Abbrechen</button>
</div>