<div class="content-start">
  <div class="jumbotron">
    <h1>Listen-Filter managen</h1>
  </div>
  <div class="container-fluid">
    <div *ngIf="!busy" class="p-grid">
      <div class="p-col-5 p-offset-1">
        <div class="tile centered">
          <h2>Neuer Filter</h2>
          <p>Bitte einen kurzen Bezeichner ohne Leerzeichen eingeben</p>
          <div style="height: 5em;" class="p-grid">
            <label for="username-input">Filter-Bezeichner</label>
            <input id="username-input" type="text" size="30" pInputText [(ngModel)]="newFilter"
                   [ngModelOptions]="{standalone: true}" autofocus class="form-control">
          </div>
          <div style="padding-top: 10px;">
            <button pButton type="button" label="Erstellen" class="btn btn-success" (click)="createFilter()"></button>
          </div>
        </div>
      </div>
      <div class="p-col-5" *ngIf="filterList.length > 0">
        <div class="tile centered">
          <h2>Bestehenden Filter bearbeiten</h2>
          <p>Bitte einen der bestehenden Filter auswählen.</p>
          <div style="height: 5em;" class="p-grid">
            <p-dropdown filter="true" [options]="filterList" [(ngModel)]="filterlistService.activeListFilter"
                        placeholder="Filter wählen" optionLabel="filter_id"
                        (onChange)="router.navigate(['/listfilter/filter', filterlistService.activeListFilter.filter_id])"></p-dropdown>
          </div>

          <button pButton type="button" label="Zum Projekt" class="btn btn-success"
                  [routerLink]="['/listfilter/filter', filterlistService.activeListFilter.filter_id]"></button>
        </div>
      </div>
    </div>
  </div>
</div>

